# Resume Parsing

###### import libraries

In [ ]:
import glob
import pandas as pd
from resume_parser import resumeparse

In [2]:
list_of_resume = glob.glob('/Users/sonalsingh/Downloads/Examples/*.pdf')

In [3]:
parsed_df = pd.DataFrame(columns= ['email', 'phone', 'name', 'total_exp', 'university', 'designition', 'degree', 'skills', 'Companies worked at'])

###### Parsing each resume in the file

In [4]:
for each_resume in list_of_resume:
    data = resumeparse.read_file(each_resume)
    data_unlist = {k: str(v) for k,v in data.items()}
    print(each_resume)
    parsed_df = parsed_df.append(pd.DataFrame(data_unlist,index =[0]))

/Users/sonalsingh/Downloads/Examples/ppresume.pdf
/Users/sonalsingh/Downloads/Examples/Prince_resume-1.pdf
/Users/sonalsingh/Downloads/Examples/Tianqi  Wang - Resume.pdf
/Users/sonalsingh/Downloads/Examples/Vigneshwer_Resume.pdf
/Users/sonalsingh/Downloads/Examples/Resume-Piyush Gupta.pdf
/Users/sonalsingh/Downloads/Examples/Aayush_Kumar_Resume.pdf
/Users/sonalsingh/Downloads/Examples/cmv35.pdf
/Users/sonalsingh/Downloads/Examples/Resume_Deeksha Singh (1).pdf
/Users/sonalsingh/Downloads/Examples/RishabhSamdarshi_CV_vf.pdf
/Users/sonalsingh/Downloads/Examples/CV_Subhendra_Keshari_Sahoo.pdf
/Users/sonalsingh/Downloads/Examples/Jayant.pdf
/Users/sonalsingh/Downloads/Examples/Resume_Naveen_DS2.pdf
/Users/sonalsingh/Downloads/Examples/Monika-P-SeniorBusinessAnalyst-CV.pdf
/Users/sonalsingh/Downloads/Examples/Resume _ Davide Vernizzi.pdf
/Users/sonalsingh/Downloads/Examples/Geethanjali_G_DataScientist_CV.pdf

In [5]:
parsed_df

,email,phone,name,total_exp,university,designition,degree,skills,Companies worked at
0,ppriyaselvam94@gmail.com,+91-9789253835,Logistic Regression,0,['anna university'],"['scientist', 'sales driver', 'team lead', 're...",['B.E.'],"['( Intermediate Proficiency', ' Working Profi...",[]
0,prince.231095@gmail.com,+91 7009870650,Prince Arora,4,['stanford university'],"['scientist', 'associate']",['B.E. in Computer Science and Engineering'],"['Statistical Learning', 'Predictive Modelling...",['Sigma Business Pvt. Ltd.']
0,tqwang28@gmail.com,(415) 231-9762,Tianqi Wang,7,"['peking university', 'shandong university', '...","['data scientist', 'scientist', 'science inter...",[],"['dashboards', 'pipeline', 'macroeconomics', '...",[]
0,dvigneshwer@gmail.com,+91 8714437135,Vigneshwer Dhinakaran,6,[],"['data scientist', 'scientist', 'research anal...",[],"['Python Rust JavaScript R Web Services', 'SQL...",[]
0,guptapiyush340@gmail.com,+91-94784-95550,PIYUSH GUPTA,6,[],"['scientist', 'representative']",[],"['Technical:', 'Analytics:', 'Additional:', 'L...",[]
0,aayush2401@gmail.com,+91 80881 16183,,0,[],"['business development', 'online retailer', 's...",['B.E.'],"['TECHNOLOGY', 'SQL/ Teradata', 'R', 'VBA', 'M...",[]
0,None,,,0,[],['owner'],[],"['registration', 'office', 'form', 'applicatio...",[]
0,deeksha.singh0023@gmail.com,+91 8600490140,,0,[],"['scientist', 'business development', 'busines...",[],"['TECHNOLOGY', 'SQL', ' SAS', 'R', ' Python', ...",[]
0,mailto:rishi.sam2008@gmail.com,+91-7896679524,RISHABH SAMDARSHI,0,[],"['scientist', 'team lead', 'sales driver', 'ow...",[],"['(Working Proficiency', ' Intermediate Profic...",['Spot Award']
0,subhendra.keshari@gmail.com,+91-8093282265,Subhendra Keshari,1,"['national institute of technology, rourkela']","['scientist', 'account manager', 'sales driver...",['B.Tech'],"['Machine Learning Algorithms', 'Regression: L...",[]
0,jayanth310895@gmail.com,(+91)8109109323,Jayanth Madhavan,10,[],"['scientist', 'business analyst', 'business de...",['B.Tech'],"['SQL', 'MS Excel', 'Tableau', 'Python', 'R', ...",['+91)8109109323 E']
0,naveen.ponnapula@gmail.com,+91 9492033850,Naveen Ponnapula,0,[],"['scientist', 'research intern', 'science mana...",[],"['Statistics- Hypothesis testing', ' Regressio...",[]
0,monika.pahwani08@gmail.com,+91-9907116766,Monika Pahwani,4,[],"['sales driver', 'scientist', 'data management...",[],"['Technical: Tools:', 'SQL/Teradata/Impala/ Ju...",[]
0,davide@vernizzis.it,,Vernizzi davide@vernizzis.it,10,[],"['devops', 'lead developer', 'senior engineer'...",['PhD'],"['FRONTEND DEVELOPMENT JavaScript', ' React.js...",['Mar']
0,geethanjalishekar@gmail.com,+91-9003165867,Geethanjali G,5,['anna university'],"['scientist', 'data management', 'sports broad...",[],"['Technical: Tools:', 'Python Jupyter Notebook...",[]